<!DOCTYPE html>
<html>
{%if 'id' in session%}
	{%extends "layout.html" %}
{%else%}
	{%extends "layout2.html"%}
{%endif%}  
{%block body%}
   <!-- <style>
    
.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}
    </style> -->
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>Compete!</title>
    
    <center><h1>{{comp.subject}}</h1></center>
</head>
<body>
<center>
	<p>{{comp.description}}</p>

    <div class="main">    
    
	<a class="button" href="{{url_for('Discover')}}">Discover</a>
    
    
    {%if 'id' in session%}
	<a class="button" href="{{url_for('Upload')}}">Upload your work</a>
	
    {%else%}
	<a class="button" href="{{url_for('login')}}">Login to upload</a>
	
    {%endif%}
    </div>
    
</center>

	{%if photo %}
	<h3>Heighest ranking right now</h3>
	<img src="/static/uploads/{{photo.getURL()}}" height="300">
	{%endif%}
	<p>previous competitions:<br> (photos and stuff)</p>
	</body>
	{%endblock%}
</html>

