

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <center>
	<title>Awsome Website</title>
	<h1>Welcome To The Website!</h1>
	<p>If you like photography and stuff...</p>
</head>
</center>
<body>
<center>
	<a href = "{{url_for('login')}}">Log In</a>
	<a href="{{url_for('SignUp')}}">Sign Up</a>
  </center>
</body>
</html>
<script src="https://apis.google.com/js/api.js"></script>
<!--
<script>
  function signOut() {
  	gapi.load("client:auth2", initAuth);
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
-->
