

<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<h1>Log In</h1>
	<link rel="stylesheet" type="text/css" href="Style.css">
	<!--The link to the css file doesn't work! -->
</head>
<body>

	<form action = "{{url_for('login')}}" method="post"> 
	  Email Address:<br>
	  <input type="text" name="email"><br>
	  Password:<br>
	  <input type="password" name="password"><br>

	  <input type="submit" value="Log In">

	</form>
<div class = 'flash'>
{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
	{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
	{% endfor %}
	</ul>

	{% endif %}
{% endwith %}

</body>
</html>
